@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    --ligth : #E8EDEB;
    --orange : #E19E50;
    --green: #8CBDB8;
    --dark: #2C3E4E;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--ligth);
    transition: all 0.4s ease;
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}


.navContainer {
    background-color: var(--dark);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navCategories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

.navText {
    transition: all 0.5s ease;
}

.navText:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logoutBtn {
    box-sizing: border-box;
    border: none;
    color: var(--orange);
    font-size: 16px;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 75%;
    gap: 2rem;
    padding: 2rem;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    border: solid 2px var(--orange);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
}

.productImg {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.productTitle {
    color: var(--dark);
    font-size: 1.2rem;
}

.productText {
    font-size: 14px;
    margin-bottom: 0.3rem;
    margin-top: 0;
    text-align: center;
}

.productPrice {
    color: var(--dark);
    font-size: 1.2rem;
}

.btnCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin-top: 1rem;
}

.productLink {
    font-size: 14px;
    color: var(--orange);
    margin-top: 1rem;
    transition: all 0.2s ease;
}

.deleteBtn {
    box-sizing: border-box;
    border: none;
    color: var(--orange);
    background-color: transparent;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    transition: all 0.3s ease;
}

.productLink:hover, .deleteBtn:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: var(--dark);
}

.detailContainer {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detailCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    border: solid 3px var(--dark);
    border-radius: 10px;
    width: 45%;
    height: 50%;
    padding: 0 1rem 0 1rem
}

.detailContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-top: 4rem;
    border: solid 3px var(--green);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
}

.productForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    margin-top: 4rem;
    border: solid 3px var(--green);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
}

.formTitle {
    background-color: var(--green);
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 85%;
    margin: 0 1rem 1rem 1rem;
}

label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--dark);
}

input, select {
    padding: 0.2rem;
    border-radius: 5px;
    border: solid 1px var(--dark);
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.smallInput {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.formButton {
    margin: 1rem 1rem 1rem 1rem;
    border: none;
    width: 85%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: var(--dark);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.3s;
    font-weight: 600;
}
.formButton:hover {
    border-radius: 10px;
    cursor: pointer;
}

.registerText {
    color: var(--dark);
}
p.registerText {
    margin: 1rem;
}